#home{
    display: flex;
    min-width: calc(100vh - 95px);
    position: relative;
}
#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}
#cta .title {
    font-size: 4rem;
    color: #fffdfd;
}
#cta .title span {
   color: rgba(55, 190, 179, 0.849);
   text-shadow: 10px 1px 50px  rgba(0,212,255,1);
}
#cta .description{
    font-size: 1.2rem;
}
#cta_buttons{
    display: flex;
    gap: 24px;
}
#cta_buttons a {
    text-decoration: none;
    color: #1d1d1d;
}
#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}
#banner img {
    height: 40rem;
    width: fit-content;
    border-radius: 100%;
}
.shape {
    background: linear-gradient(
        90deg,
        rgba(65,184,131,1) 0%,
        rgba(0,212,255,1) 100%
    );
    border: solid 1px rgb(255, 255, 255);
    width: 40%;
    height: 75%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 1%;
    right: 0%;
    z-index: 1;
}
@media  screen and (max-width: 1000px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }
    #banner,
    #banner img,
    #home .shape {
        display: none;
    }
    #cta {
        display: none;
        /* width: 100%;
        text-align: center;
        align-items: center; */
    }
}