#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vw;
    border-top: solid 1px rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
    border-radius: 40px;
}
#dishes {
    width: 100%;
    display:flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}
.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background: linear-gradient(
        90deg,
        rgba(65,184,131,1) 0%,
        rgba(0,212,255,1) 100%
    );
    border: solid 1px rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.1);
    position: relative;
}
.dish-description {
    color: #292828;
    text-align: center;
}
@media screen and (max-width: 1800px){
    #dishes{
        flex-wrap: wrap;
        justify-content: center;
    }
    .dish {
        width: calc(70% -12);
    }
}
@media screen and (max-width: 700px){
    .dish {
        width: 15rem;
    }
    #menu .section-subtitle{
        text-align: center;
    }

}
.dish-img {
    display: flex;
    width: 11rem;
    height: 11rem;
    border: solid 1px rgb(0, 0, 0);
}